:host {
  ::ng-deep .ui-dataview-header	{
    display: none;
  }

  ::ng-deep .ui-tabview .ui-tabview-panels {
    padding: 0;
    border: none;
  }

  ::ng-deep .ui-dataview-content {
    padding: 0 1em !important;

    .ui-g {
      div {
        height: 3em;
        display: flex;
        align-items: center;
        border-bottom: 1px dotted lightgray;

        img {
          height: 80%;
          margin-right: 16px;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
