<section>
  <p>An UI web application that retrieves and displays the user repositories
    and organisations in Github.</p>
</section>
<section>
  <h2>Try me!</h2>
  <p>Show user repositories and organisations by
    @<input type="text" pInputText [ngModel]="username" (ngModelChange)="getUserData($event)" placeholder="{{placeholderUsername}}" (focus)="this.placeholderUsername = ''" (blur)="this.placeholderUsername = 'username'">
  </p>

  <p-tabView>
    <p-tabPanel header="Repositories">
      <p-dataView [value]="repositories" [paginator]="repositories && repositories.length > 10" [rows]="10" paginatorPosition="both">
        <ng-template let-repo pTemplate="listItem">
          <div>
            <a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
          </div>
        </ng-template>
      </p-dataView>
    </p-tabPanel>

    <p-tabPanel header="Organizations">
      <p-dataView [value]="organizations" [paginator]="organizations && organizations.length > 10" [rows]="10" paginatorPosition="both">
        <ng-template let-org pTemplate="listItem">
          <div>
            <img src="{{org.avatar_url}}">
            {{org.login}}
          </div>
        </ng-template>
      </p-dataView>
    </p-tabPanel>
  </p-tabView>

</section>
